In [1]:
import pandas as pd
import numpy as np

In [10]:
x = np.array([2,-4,3])
y = np.array([2,-4,3])
x[x < 0] = 0
x / y

array([ 1., -0.,  1.])

In [46]:
def fill_missing_consumption(data: pd.DataFrame) -> pd.DataFrame:

    data = data.sort_values(by='date')
    for idx, row in data.iterrows():
        if pd.isna(row['consumption']):
            current_date = row['date']
            prev_5_days = data[(data['date'] < current_date) & (data['consumption'].notna())].tail(5)
            next_5_days = data[(data['date'] > current_date) & (data['consumption'].notna())].head(5)
            relevant_days = pd.concat([prev_5_days, next_5_days])
            mean_value = relevant_days['consumption'].mean()
            data.at[idx, 'consumption'] = mean_value

    return data

# Пример использования
data = pd.DataFrame({
    'date': pd.date_range(start='2023-01-01', periods=3, freq='D'),
    'consumption': [30, None, 50]
})

filled_data = fill_missing_consumption(data)

In [47]:
data

        date  consumption
0 2023-01-01         30.0
1 2023-01-02          NaN
2 2023-01-03         50.0

In [44]:
np.mean([20, 49, 30, 50, 60, 80, 90, 100])

59.875

In [48]:
filled_data

        date  consumption
0 2023-01-01         30.0
1 2023-01-02         40.0
2 2023-01-03         50.0

In [52]:
def add_missing_dates(data: pd.DataFrame) -> pd.DataFrame:
    # Убедимся, что датафрейм отсортирован по дате
    data = data.sort_values(by='date').reset_index(drop=True)
    
    # Создадим полный диапазон дат от минимальной до максимальной даты в датафрейме
    full_date_range = pd.date_range(start=data['date'].min(), end=data['date'].max())
    
    # Установим колонку 'date' в качестве индекса
    data = data.set_index('date')
    
    # Дополним датафрейм недостающими датами
    data = data.reindex(full_date_range).reset_index()
    
    # Переименуем колонку индекса обратно в 'date'
    data = data.rename(columns={'index': 'date'})
    
    return data

# Пример использования
data = pd.DataFrame({
    'date': pd.to_datetime(['2023-07-10', '2023-07-12', '2023-07-13']),
    'consumption': [10, 20, 30]
})

filled_data = add_missing_dates(data)
filled_data

        date  consumption
0 2023-07-10         10.0
1 2023-07-11          NaN
2 2023-07-12         20.0
3 2023-07-13         30.0

In [53]:

# Sample DataFrame
data = {
    'A': [1, 2, None],
    'B': [4, None, 6],
    'C': [7, 8, 9]
}
df = pd.DataFrame(data)

# Check for NaN values
has_nan = df.isnull().values.any()
print("DataFrame contains NaN values:", has_nan)

DataFrame contains NaN values: True